.logcontent {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navecont {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.maincont {
    flex: 1 0 auto;
}
.pc1 {
    margin-top: 10px;
}
.mc5 {
    margin-top: 13%;
}
