.logcontent {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navecont {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.maincont {
    flex: 1 0 auto;
}
.pc1 {
    margin-top: 10px;
}
.mc5 {
    margin-top: 13%;
}
.cardbg {
    background-image: url("../img/login_D6.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
 }
 .cardbgLog {
    background-image: url("../img/login_D5.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
 }

 .menunav {
    background: #cc2b5e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
 .navmain{
    background: #cc2b5e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.metrics-client {
    background: #06beb6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}