<html>
  <head>
      <title>{% block title %}{% endblock title %}</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css' ) }}"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
      <meta charset="utf-8">  
  </head>
  <body class="logcontent">
      {% block content %}

      {% endblock content %} 
      <script>
        function togglePasswordVisibility() {
            var passwordField = document.querySelector('input[type="password"]');
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
            } else {
                passwordField.type = 'password';
            }
        }
      </script>    
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js' ) }}"></script>
  </body>
</html>