<html>
  <head>
      <title>{% block title %}{% endblock title %}</title>
       <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css' ) }}"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
      <meta charset="utf-8">
  </head>
  <body>
  <header>
        <div class="container">
            <nav class="nav-extended white z-depth-0">
                <div class="nav-wrapper">
                <a href="/logout" class="brand-logo right"><i class="material-icons blue-text"><b>power_settings_new</b></i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a class="black-text" href="https://encontrack.com">Encontrack</a></li>
                    <li class="black-text">Username: {{user}}</li>
                </ul>
                </div>
                <div class="nav-content">
                    <ul class="tabs tabs-transparent">
                        <li class="tab"><a href="/" class="active black-text">Dashbord</a></li>
                        <li class="tab"><a href="/hostedzone" class="black-text">Domain Zones</a></li>
                        <li class="tab"><a href="/domain" class="black-text">DNS</a></li>
                        <li class="tab"><a href="/users" class="black-text">Users</a></li>
                        <li class="tab"><a href="/masterslaves" class="black-text">Master/Slaves</a></li>
                        <li class="tab"><a href="/named" class="black-text">named.conf</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
      {% block content %}

      {% endblock content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js' ) }}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('select').formSelect();
    });
    </script>
  </body>
</html>