<html>
  <head>
        <title>{% block title %}{% endblock title %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png' ) }}" /> 
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css' ) }}"  media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
        <meta charset="utf-8">
  </head>
  <body class="">
  <header>
    </header>
        <div class="navbar-fixed">
            <nav class="navmain">
                <div class="nav-wrapper container">
                <a href="#menu" class="brand-logo sidenav-trigger show-on-large" data-target="menu-side"><i class="material-icons">menu</i></a><b style="margin-left: 50px;" class="left">Menu</b>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><i class="material-icons white-text">account_circle</i></li>
                    <li style="margin-right: 50px;">{{user}}</li>
                    <li><i class="material-icons white-text">widgets</i></li>
                    <li style="margin-right: 50px;"><a href="https://github.com/lgeronimoM/bastionweb">Proyecto Github</a></li>
                    <li><i class="material-icons white-text">storage</i></li>
                    <li style="margin-right: 50px;"> <a href="/admin">adminBD</a></li>
                    <li><i class="material-icons darken-4"><b>exit_to_app</b></i></li>
                    <li style="margin-right: 50px;" class="left"><a href="/logout">Salir</a></li>
                </ul>
                </div>
            </nav>
        </div>
        <div class="row">
            <ul id="menu-side" class="sidenav">
                <li>
                    <div class="user-view">
                        <div class="background menunav">
                        </div>
                        <a href="/users"><i class="material-icons white-text" style="font-size: 50px;">account_circle</i></a>
                        <a href="/" class="name white-text">{{user}}</a>
                        <a href="/" class="email white-text">{{mail}}</a>
                    </div>
                </li>
                <li><a href="/">Home</a></a></li>
                <li><a href="/users">Usuarios</a></a></li>
                <li><a href="/servers">Servidores</a></li>
                <li><a href="/bastion">Control de acceso</a></li>
            </ul>
        </div>   
        <div class="container row section">
            <div class="col s6">
                <h6><img class="responsive-img" src="{{ url_for('static', filename='img/logo.png' ) }}" style="width: 60px;">
                Administración de acceso remoto a usuarios "BastionHost" WEB.</h6>
                <p>BastionHost versión 1.2.0 pahu.</p>
            </div>
            <div class="col s6">
                <div class="row">
                    <div class="col s3">
                        <a href="/"><i class="small material-icons darken-4 brown-text text-darken-2"><b>home</b></i></a><p>Home</p> 
                    </div>
                    <div class="col s3">
                        <a href="/users"><i class="small material-icons darken-4 brown-text text-darken-2"><b>supervisor_account</b></i></a><p>Users</p>
                    </div>
                    <div class="col s3">
                        <a href="/servers"><i class="small material-icons darken-4 brown-text text-darken-2"><b>devices</b></i></a><p>Servers</p>
                    </div>
                    <div class="col s3">
                        <a href="/bastion"><i class="small material-icons darken-4 brown-text text-darken-2"><b>vpn_key</b></i></a><p>Access</p>
                    </div>
                </div>
            </div>
        </div>
        {% block content %} 
        
        {% endblock content %}
     
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js' ) }}"></script>
    <script type="text/javascript">
    
    $(document).ready(function(){
        $('select').formSelect();
    });
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.slider');
        var instances = M.Slider.init(elems, {
        });
        var elems = document.querySelectorAll('.materialboxed');
        var instances = M.Materialbox.init(elems);

        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });

    $(function () {
        $("#chkPassport").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport").show();
                $("#AddPassport").hide();
            } else {
                $("#dvPassport").hide();
                $("#AddPassport").show();
            }
        });
    });

        //Add a JQuery click event handler onto our checkbox.
        $('#terms_and_conditions').click(function(){
        //If the checkbox is checked.
        if($(this).is(':checked')){
            //Enable the submit button.
            $('#submit_button').attr("disabled", false);
        } else{
            //If it is not checked, disable the button.
            $('#submit_button').attr("disabled", true);
        }
    });
    </script>
  </body>
</html>