<html>
<head>
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css' ) }}"  media="screen,projection"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}{% endblock title %}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png' ) }}" /> 
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
  <meta charset="utf-8">
</head>
<body class="">
<header>
</header>
<div class="navbar-fixed">
  <nav class="navmain">
    <div class="nav-wrapper container">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><i class="material-icons white-text">account_circle</i></li>
        <li style="margin-right: 50px;">{{user}}</li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><i class="material-icons white-text">storage</i></li>
        <li style="margin-right: 50px;"> <a href="/admin">adminBD</a></li>
        <li><i class="material-icons darken-4"><b>exit_to_app</b></i></li>
        <li style="margin-right: 50px;" class="left"><a href="/logout">Salir</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="container row section">
  <div class="col s12 m4 l4" style="margin-top: 60px;">
    <img class="responsive-img" src="{{ url_for('static', filename='img/logoencontrack.png' ) }}" style="width: 200px;">
    <p>Webadmin portal para la administracion y control de accesos sysadmin versión 2.11.</p>
  </div>
  <div class="col s12 m8 l8" style="margin-top: 40px;">
    <div class="row menu-navbar center">
      <div class="col s2">
        <a href="/">
          <i class="medium material-icons black-text text-darken-4">home</i>
        </a>
        <p>Inicio</p>
        <div class="line"></div>
      </div>
      <div class="col s2">
        <a href="/users">
          <i class="medium material-icons black-text text-darken-4">supervisor_account</i>
        </a>
        <p>IAM Acceso</p>
        <div class="line"></div>
      </div>
      <div class="col s2">
        <a href="/permissions">
          <i class="medium material-icons black-text text-darken-4">security</i>
        </a>
        <p>Roles</p>
        <div class="line"></div>
      </div>
      <div class="col s2">
        <a href="/servers">
          <i class="medium material-icons black-text text-darken-4">devices</i>
        </a>
        <p>Servidores</p>
        <div class="line"></div>
      </div>
      <div class="col s2">
        <a href="/bastion">
          <i class="medium material-icons black-text text-darken-4">vpn_key</i>
        </a>
        <p>Accesos</p>
        <div class="line"></div>
      </div>
    </div>
  </div>
</div>
{% block content %} 

{% endblock content %}
<footer class="page-footer white">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">Administración de TI</h5>
        <p class="black-text text-lighten-4">webadmin portal de administración para servidores de districion Linux creado en 2018.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <span class="black-text">© 2014 Copyright Text</span>
    <div class="right">
      <a href="htps://github.com/lgeronimoM/bastionweb" class="black-text">
        <i class="material-icons">widgets</i>
        link Proyecto Github
      </a>
    </div>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    $('select').formSelect();
  });
</script>
<script src="{{ url_for('static', filename='js/select_search.js') }}"></script>
<script src="{{ url_for('static', filename='js/checkbox_bastion.js') }}"></script>
<script src="{{ url_for('static', filename='js/modal_log_bastion.js') }}"></script>
<script src="{{ url_for('static', filename='js/session_polity.js') }}"></script>

<script>
  document.getElementById("iamSelect").addEventListener("change", function() {
      var select = document.getElementById("iamSelect");
      var opcionSeleccionada = select.options[select.selectedIndex].value;

      // Enviar la selección como una solicitud POST
      if (opcionSeleccionada !== "") {
          fetch(opcionSeleccionada, {
              method: "POST"
          })
          .then(response => {
              // Redirigir al usuario a la ruta seleccionada
              window.location.href = opcionSeleccionada;
          })
          .catch(error => {
              console.error("Error al enviar la solicitud POST:", error);
          });
      }
  });

</script>
  
<script>
  // Obtén referencias a los elementos del DOM
var checkbox = document.getElementById("activeOptionsUsers");
var editarUsuarioOptions = document.querySelectorAll('.editarUsuario');
var eliminarUsuarioOptions = document.querySelectorAll('.eliminarUsuario');

// Agrega un evento change al checkbox
checkbox.addEventListener("change", function() {
    // Habilita o deshabilita las opciones específicas en función del estado del checkbox
    editarUsuarioOptions.forEach(function(option) {
        option.disabled = !checkbox.checked;
    });
    eliminarUsuarioOptions.forEach(function(option) {
        option.disabled = !checkbox.checked;
    });
});
 
</script>

<script>
  document.getElementById("iamUserSelect").addEventListener("change", function() {
      var select = document.getElementById("iamUserSelect");
      var selectedUserId = select.options[select.selectedIndex].value;
      var currentPage = window.location.pathname.split('/').pop();  // Obtiene la página actual de la URL
      console.log("ID de usuario seleccionado: " + selectedUserId);

      // Redirigir a la misma página con el parámetro userselect y la página actual
      if (selectedUserId !== "") {
          window.location.href = currentPage + '?selectusers=True&userselect=' + selectedUserId;
      }
  });
</script>

<script>
  document.getElementById("iamGroupSelect").addEventListener("change", function() {
      var select = document.getElementById("iamGroupSelect");
      var selectedGroupId = select.options[select.selectedIndex].value;
      var currentPage = window.location.pathname.split('/').pop();  // Obtiene la página actual de la URL
      console.log("ID de grupo seleccionado: " + selectedGroupId);

      // Redirigir a la misma página con el parámetro userselect y la página actual
      if (selectedGroupId !== "") {
          window.location.href = currentPage + '?selectgroups=True&groupselect=' + selectedGroupId;
      }
  });
</script>

<script>
  document.getElementById("permissionServerSelect").addEventListener("change", function() {
      var select = document.getElementById("permissionServerSelect");
      var selecteServerId = select.options[select.selectedIndex].value;
      var currentPage = window.location.pathname.split('/').pop();  // Obtiene la página actual de la URL
      console.log("ID de Server seleccionado: " + selecteServerId);

      // Redirigir a la misma página con el parámetro userselect y la página actual
      if (selecteServerId !== "") {
          window.location.href = currentPage + '?serverselect=' + selecteServerId;
      }
  });
</script>

<script>

function obtenerValores() {
    var checkboxes = document.querySelectorAll('#activeEditor:checked');
    var valoresSeleccionados = [];

    checkboxes.forEach(function(checkbox) {
      valoresSeleccionados.push(checkbox.value);
    });

    // Enviar los valores seleccionados al servidor
    document.getElementById("valoresSeleccionados").value = valoresSeleccionados.join(',');

    // Enviar el formulario al servidor
    document.getElementById("miFormulario").submit();
}
  
</script>

<script>

function getValueIds() {
  var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
  var valoresSeleccionados = [];

  checkboxes.forEach(function (checkbox) {
    valoresSeleccionados.push(checkbox.value);
  });

  // Actualiza el campo oculto con los valores seleccionados
  document.querySelector('input[name="valuesSeleccts"]').value = valoresSeleccionados.join(',');

  // Envía el formulario al servidor
  document.getElementById("FormsIds").submit();
}

</script>

</body>
</html>