{% extends 'base/base.html' %}
{% block title %} bastion addserver {% endblock title%}
{% block content %}
    <main class="container">
         <div class="row">
            <h5>Registro de nuevo servidor</h5>
            <form method="POST" action="/comaddserver">
                <p class="red-text">{{ validated }}</p>
                <div class="row">
                    <div class="input-field col s12 m5 l5">
                        <input placeholder="nuevo hostname" id="value" type="text" class="validate" name="hostname" required>
                        <label for="hostname">Hostname</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m7 l7">
                        <input placeholder="name" id="value" type="text" class="validate" name="name" required>
                        <label for="name clave">Nombre clave</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m7 l7">
                        <input placeholder="descripcion" id="value" type="text" class="validate" name="descripcion" required>
                        <label for="descripcion">Descripción</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m7 l7">
                        <input placeholder="DNS" id="value" type="text" class="validate" name="dns" required>
                        <label for="DNS">DNS</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m4 l4">
                        <select class="blue-text text-darken-2" id="select" name="tipo" required>
                                <option value="" disabled selected>Tipo</option>
                                <option value="virtual">virtual</option>
                                <option value="fisico">fisico</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m4 l4">
                        <input placeholder="departamento" id="value" type="text" class="validate" name="departamento" required>
                        <label for="departamento">Departamento</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m4 l4">
                        <select class="blue-text text-darken-2" id="select" name="localidad" required>
                                <option value="" disabled selected>Localidad</option>
                                <option value="miami">miami</option>
                                <option value="aws">aws</option>
                                <option value="qro">qro</option>
                                <option value="cdmx-cua">cdmx-cua</option>
                                <option value="cdmx-chi">cdmx-chi</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6 l6">
                        <input placeholder="ipadmin" id="value" type="text" class="validate" name="ipadmin" required>
                        <label for="ipadmin">IP Administración server</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6 l6">
                        <input placeholder="ippro" id="value" type="text" class="validate" name="ippro" required>
                        <label for="ippro">IP producción server</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m5 l5">
                        <input placeholder="servicio" id="value" type="text" class="validate" name="servicio" required>
                        <label for="servicio">Servicio</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m4 l4">
                        <input placeholder="Hipervisor" id="value" type="text" class="validate" name="hipervisor" required>
                        <label for="Hipervisor">Hipervisor</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6 l6">
                        <input placeholder="sistema" id="value" type="text" class="validate" name="sistema" required>
                        <label for="sistema">SistemaOperativo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m3 l3">
                        <input placeholder="ram" id="value" type="text" class="validate" name="ram" required>
                        <label for="ram">RAM en GB</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m3 l3">
                        <input placeholder="cpu" id="value" type="text" class="validate" name="cpu" required>
                        <label for="cpu">CPU cantidad</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m3 l3">
                        <input placeholder="disco" id="value" type="text" class="validate" name="disco" required>
                        <label for="disco">Espacio en GB de disco </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-field">
                        <button class="btn waves-effect waves-green green darken-2" type="submit" name="Submit">
                            Agregar
                        </button>
                    </div>
                </div>
            </form>            
        </div>
    </main>    

{% endblock content %}