{% extends 'base/base.html' %}
{% block title %} bastion web {% endblock title%}
{% block content %}
    <main class="container">
    {% if validatebastion %}
        {% if filterbastion==False %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class=flashes>
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <li class="red-text">{{ message }}</li>
                        {% else %}
                            <li class="green-text">{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <div class="row">
                {% if nameuser %}
                <div class="col s12" style="border: 1px solid #ddd;">
                    <p> Accessos del usuario {{ nameuser }} </p>
                    <div class="col s4 m4 l4">
                        <form method="GET" action="/bastion">
                            <input id="filteruser" type="hidden" value="{{filteruser}}" class="validate" name="filteruser" required>
                            <div class="search-container">
                                <input placeholder="Server" type="search" class="client-search-input" name="findserver" required>
                                <button class="client-search-button" type="submit" name="Submit">
                                    Buscar <i class="material-icons white-text">find_in_page</i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col s4 m4 l4">
                        <a href="/bastion" class="btn del-button">Remover filtro</a></h6>
                    </div>
                </div> 
                {% elif filterhost %}
                <div class="col s12" style="border: 1px solid #ddd;">
                    <p> Accessos del server {{ filterhost }} </p>
                    <div class="col s4 m4 l4">
                    </div>
                    <div class="col s4 m4 l4">
                        <a href="/bastion" class="btn del-button">Remover filtro</a></h6>
                    </div>
                </div>    
                {% else %}
                <div class="col s12" style="border: 1px solid #ddd;">
                    <p> Accesos establecidos({{ accessserver.count() }}) </p>
                    <div class="col s12 m4 l4">
                        <h6>Selecciona filtro rapido</h6>
                    </div>
                    <div class="col s12 m4 l4">
                        <form method="GET" action="/bastion">
                            <div class="input-field">
                                <select class="blue-text text-darken-2" searchable="Buscar usuario" id="select" name="filteruser" required>
                                    <option value="" disabled selected>Filtro por usuario</option>
                                    {% for res in apiusers %}
                                        <option value="{{res['id']}}">{{res['username']}}</option>
                                    {% endfor %}
                                </select>
                                <div class="form-field">
                                    <button class="client-search-button" type="submit" name="Submit">
                                        Buscar <i class="material-icons white-text">find_in_page</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col s12 m4 l4">
                        <form method="GET" action="/bastion">
                            <div class="input-field">
                                <select class="blue-text text-darken-2" serachname="myselectsearch" searchable="Buscar server" id="select" name="filterhost" required>
                                    <option value="" disabled selected>Filtro por servidor</option>
                                    {% for res in apiservers %}
                                        {% if res.ipadmin != ipbastion %}
                                            {% if res['estado'] and res['ipadmin'] != apibastion['ip'] %}
                                                <option value="{{ res['id'] }}">{{ res['hostname'] }}_{{ res['ipadmin'] }}</option>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <div class="form-field">
                                    <button class="client-search-button" type="submit" name="Submit">
                                        Buscar <i class="material-icons white-text">find_in_page</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <p class="right"> Control accesos</p>
                </div>
                {% endif %}
            </div>   
            <div class="row">        
                <form method="POST" action="/combastion">
                    <div class="col s12">
                        <table class="aws-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Usuario</th>
                                    <th>Servidor</th>
                                    <th>Tipo Acceso</th>
                                    <th>Archivo Key</th>
                                    <th>Healthy</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Modal Structure -->
                                <div id="miModal" class="modal modalLoad">
                                    <div class="modal-content center">
                                        <div class="preloader-wrapper big active">
                                            <div class="spinner-layer spinner-blue">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                                <div class="circle"></div>
                                            </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                            </div>
                                    
                                            <div class="spinner-layer spinner-red">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                                <div class="circle"></div>
                                            </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                            </div>
                                    
                                            <div class="spinner-layer spinner-yellow">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                                <div class="circle"></div>
                                            </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                            </div>
                                    
                                            <div class="spinner-layer spinner-green">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                                <div class="circle"></div>
                                            </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                            </div>
                                        </div>
                                    <p class="white-text center">Proceso en curso espere no cierre la ventana ...</p>
                                    </div>
                                </div>
                                {% for res in data.items %}
                                    {% if res['tipe'] == 'server' %}
                                        <tr>
                                            <td>
                                                <p>
                                                    <label>
                                                        <input name="checkbox_{{ res['id'] }}" type="checkbox" value="{{ res['id'] }}" id="activeEditor" onchange="habilitarBotones()">
                                                        <span></span>
                                                    </label>
                                                </p>
                                            </td>
                                            <td>{{ res['user'] }}</td>
                                            <td>{{ res['server'] }}</td>
                                            <td>{{ res['tipe'] }}</td>
                                            <td>{{ res['keypair'] }}</td>
                                            <td><i class="material-icons green-text">check_circle</i></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        <br><br>
                    </div>
                    <div class="col s2 m2 l2">
                        <div class="form-field">
                            <button id="logButton" class="btn gen-button" type="button">Mostrar LOG</button>
                        </div>
                    </div>
                    <div class="col s2 m2 l2">
                        <div class="form-field">
                            <button id="regenAvalive" class="btn del-button miBoton" type="submit" formaction="/deleteaccess" method="POST" onclick="mostrarPreload(); obtenerValores();" disabled>
                                Eliminar
                            </button>
                        </div>
                    </div>
                    <div class="col s2 m2 l2">
                        <div class="form-field">
                            <button id="regenAvalive" class="btn gen-button miBoton" type="submit" onclick="mostrarPreload(); obtenerValores();" disabled>
                                Regenerar
                            </button>
                        </div>
                    </div>
                
                    <input type="hidden" id="valoresSeleccionados" name="valoresSeleccionados">
                    
                </form>          
                    <div class="col s2 m2 l2">
                        <div class="form-field">
                            <form  method="GET" action="/bastion">
                                <input  type="hidden" class="" name="createaccess" value="True">
                                <button class="btn add-button miBoton" type="submit">
                                    Nuevo
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col s2 m2 l2">
                        <div class="form-field">
                            <form  method="GET" action="/bastion">
                                <button id="regenAvalive" class="btn del-button miBoton" type="submit" disabled>
                                    Cancelar
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col s2 m2 l2">

                    </div>
                    
                <div class="col s12 center">
                    <ul class="pagination">

                    {% if data.has_prev %}
                        <li class="waves-effect"><a class="page-link" href="{{ url_for('bastion', page_num=data.prev_num, filteruser=filteruser) }}"><i class="material-icons">chevron_left</i></a></li>
                    {% else %}
                        <li class="disabled"><span><i class="material-icons">chevron_left</i></span>
                    {% endif %}
                        </li>

                    {% for page in data.iter_pages(left_edge=3, right_edge=3) %}
                    {% if page %}
                    <li class="waves-effect"><a href="{{ url_for('bastion', page_num=page, filteruser=filteruser) }}">{{ page }}</a></li>
                    {% else %}
                    <li class="disabled"><a href="#">…</a></li> 
                    {% endif %}
                    {% endfor %}

                    {% if data.has_next %}
                        <li class="waves-effect"><a href="{{ url_for('bastion', page_num=data.next_num, filteruser=filteruser) }}"><i class="material-icons">chevron_right</i></a></li>
                    {% else %}
                        <li class="disabled"><span><i class="material-icons">chevron_right</i></span>
                    {% endif %}
                            
                    </ul>
                </div>
            </div>
            <!-- Modal Structure Log llamada-->
            <div id="logModal" class="modal">
                <div class="modal-content">
                    <h4>Log</h4>
                    <pre id="log-content"></pre>
                </div>
                <div class="modal-footer">
                    <button id="closeButton" class="modal-close waves-effect waves-green btn-flat">Cerrar</button>
                </div>
            </div>
        {% else %}
                <div class="row">
                    <div class="col s12" style="border: 1px solid #ddd;">
                        <p> Generar acceso para bastion server </p>
                        <form method="POST" action="/addbastionserver"><br>
                            <div class="col s12 m4 l4">
                                <div class="input-field">
                                    <select  class="form-field-ref-select-field-name" name="server" searchable="Search in this list" required>
                                        <option value="" disabled selected>Selecciona el servidor</option>
                                        {% for res in apiservers %}
                                            {% if res.ipadmin != ipbastion %}
                                                {% if res['estado'] and res['ipadmin'] != apibastion['ip'] %}
                                                    <option value="{{ res['id'] }}">{{ res['hostname'] }}_{{ res['ipadmin'] }}</option>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </select>   
                                </div>
                            </div>
                            <div class="col s12 m4 l4">
                                <div class="input-field">
                                    <select class="blue-text text-darken-2" name="user" serachname="myselectsearch" searchable="Buscar user" required>
                                        <option value="" disabled selected>Seleccion el usuario</option>
                                        {% for res in apiusers %}
                                            <option value="{{res['id']}}">{{ res['username'] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col s12 m4 l4">
                                <div class="input-field">
                                    <div class="form-field">
                                        <button class="btn add-button miBoton" type="submit" name="Submit"  onclick="mostrarPreload()">
                                            Crear +
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col s4 m4 l4">
                                <a href="/bastion" class="btn del-button">Cancelar</a></h6>
                            </div>
                        </div>
                        <p class="right">Acceso a Bastion</p>
                    </div>
                   
                </div>
        {% endif %}
    {% else %}
        <div class="row">
            <div class="custom-col s12">
                <div class="validate-bastion-container">
                    <h1>Bienvenido al sistema Bastion Host Web</h1>
                    <p>Para empezar, debes agregar un servidor bastión.</p>
                    <form action="{{ url_for('servers') }}" method="get">
                        <button class="validate-bastion-button" type="submit">Agregar servidor bastión</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Modal Structure -->
    <div id="miModal" class="modal modalLoad">
        <div class="modal-content center">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>
        
                <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>
        
                <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>
        
                <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>
            </div>
        <p class="white-text center">Proceso en curso espere no cierre la ventana ...</p>
        </div>
    </div>
    </main>   
{% endblock content %}  