{% extends 'base/base.html' %}
{% block title %} dnsweb {% endblock title%}
{% block content %}
    <main class="container">
        <h5>Administración y registros de subdominios</h5>
        <div class="row"><br>
            <form method="POST" action="/core/adddomain">
                <input type="hidden" value="" name="valueres" required>
                <div class="input-field col s12 m6 l3">
                    <select class="blue-text text-darken-2" id="select" name="zone" required>
                        <option value="" disabled selected>Seleccion el dominio</option>
                        {% for res in zone %}
                        <option value="{{res['id']}}">{{res['zones']}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field col s12 m6 l3">
                    <select class="blue-text text-darken-2" id="select" name="tipo" required>
                            <option value="" disabled selected>Tipo de subdominio</option>
                            <option value="A">A Record</option>
                            <option value="MX">MX Record</option>
                            <option value="CNAME">CNAME Record</option>
                            <option value="TXT">TXT Record</option>
                            <option value="SRV">SRV Record</option>
                    </select>
                </div>
                <div class="input-field col s12 m6 l3">
                    <input placeholder="name" id="value" type="text" class="validate" name="name" required>
                    <label for="name">Nombre del nuevo subdominio</label>
                </div>
                <div class="input-field col s12 m6 l3">
                    <input placeholder="Value" id="value" type="text" class="validate" name="value" required>
                    <label for="Value">Valor</label>
                </div>
                <div class="form-field">
                    <button class="btn waves-effect waves-green green darken-2" type="submit" name="Submit">
                        Agregar
                    </button>
                </div>
            </form>
        </div>
        <div class="row">
            <form method="GET" action="/domain/1">
            <h5>Filtrar por zona de dominio</h5>
                <div class="input-field col s12 m6 l6">
                    <select class="blue-text text-darken-2" id="select" name="res" required>
                        <option value="" disabled selected>Selecciona tu zona de dominio aquí</option>
                        {% for res in zone %}
                            <option value="{{res['id']}}">{{res['zones']}}</option>
                        {% endfor %}
                    </select>
                    <div class="form-field">
                        <button class="btn waves-effect waves-green green darken-2" type="submit">filtrar
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            {% if mess %} 
                <span class="red-text">{{ mess }}</span>
            {% endif %}

            {% if name %}
                <h5>Zona de dominio: <b class="green-text text-darken-2">{{name}}</b>
                <a href="/domain/1" class="waves-effect waves-light btn red darken-2">Remover filtro</a></h5>
            {% else %}
                <h5>Todos los subdominios</h5>
            {% endif %}
            
            <div class="col s12 m12 l12 center">
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Subdominio</th>
                            <th>Tipo</th>
                            <th>Valor</th>
                            <th>TTL</th>
                            <th>Activo</th>
                            <th>Editar/Borrar</th>
                        </tr>
                    </thead>
                    <tbody> 
                    {% for domain in data.items %}
                        <tr>
                            <td>
                                {{domain['name']}}
                            </td>
                            <td>
                                {{domain['typevalue']}}
                            </td>
                            <td>
                                {{domain['value']}}
                            </td>
                            <td>
                                Automatico
                            </td>
                            <td>
                                True 
                                <!-- <div class="switch">
                                    <label>
                                    {% if domain['active'] == True %}
                                        <input type="checkbox" checked="checked">
                                        <span class="lever"></span>
                                    {% else %}
                                        <input type="checkbox">
                                        <span class="lever"></span>
                                    {% endif %}
                                    </label>
                                </div>  -->
                            </td>
                            <td>
                                <form method='post'>
                                    <input type="hidden" value="{{domain['host']}}" name="iddomain" required>
                                    <button class="btn white" type="submit" formmethod="post" formaction="/core/editdomain" name="update_button"  value="{{domain['id']}}" >
                                        <i class="material-icons black-text">edit</i>
                                    </button>
                                    <button class="btn white" type="submit" formmethod="post" name="delete_button" onclick="return confirm('Are you sure to delete?')" formaction="/core/deletedomain" value="{{domain['id']}}">
                                        <i class="material-icons black-text">delete</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                 <ul class="pagination">

                    {% if data.has_prev %}
                        <li class="waves-effect"><a class="page-link" href="{{ url_for('domain', page_num=data.prev_num, res=valueres) }}"><i class="material-icons">chevron_left</i></a></li>
                    {% else %}
                        <li class="disabled"><span><i class="material-icons">chevron_left</i></span>
                    {% endif %}
                        </li>

                    {% for page in data.iter_pages(left_edge=3, right_edge=3) %}
                    {% if page %}
                    <li class="waves-effect"><a href="{{ url_for('domain', page_num=page, res=valueres) }}">{{ page }}</a></li>
                    {% else %}
                    <li class="disabled"><a href="#">…</a></li> 
                    {% endif %}
                    {% endfor %}

                    {% if data.has_next %}
                        <li class="waves-effect"><a href="{{ url_for('domain', page_num=data.next_num, res=valueres) }}"><i class="material-icons">chevron_right</i></a></li>
                    {% else %}
                        <li class="disabled"><span><i class="material-icons">chevron_right</i></span>
                    {% endif %}
                            
                </ul>
            </div>
        </div>
    </main>
{% endblock content %}