{% extends 'base/base.html' %}
{% block title %} Domains {% endblock title%}
{% block content %}
    <main class="container">
        <h4>Register your DNS</h4>
        <div class="row"><br>
            <form method="POST" action="/core/adddomain">
                <input type="hidden" value="" name="valueres" required>
                <div class="input-field col s12 m6 l3">
                    <select class="blue-text text-darken-2" id="select" name="zone" required>
                        <option value="" disabled selected>Select domain</option>
                        {% for res in zone %}
                        <option value="{{res['id']}}">{{res['zones']}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field col s12 m6 l2">
                    <select class="blue-text text-darken-2" id="select" name="tipo" required>
                            <option value="" disabled selected>Domain type</option>
                            <option value="A">A Record</option>
                            <option value="MX">MX Record</option>
                            <option value="CNAME">CNAME Record</option>
                            <option value="TXT">TXT Record</option>
                            <option value="SRV">SRV Record</option>
                    </select>
                </div>
                <div class="input-field col s12 m6 l3">
                    <input placeholder="name" id="value" type="text" class="validate" name="name" required>
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s12 m6 l3">
                    <input placeholder="Value" id="value" type="text" class="validate" name="value" required>
                    <label for="Value">Value</label>
                </div>
                <div class="form-field">
                    <button class="btn waves-effect waves-green green darken-2" type="submit" name="Submit">
                        <i class="material-icons left">add</i>
                    </button>
                </div>
            </form>
        </div>
        <div class="row">
            <form method="GET">
            <h4>Filter registers</h4>
                <div class="input-field col s12 m6 l5">
                    <select class="blue-text text-darken-2" id="select" name="res" required>
                        <option value="" disabled selected>Select domain</option>
                        {% for res in zone %}
                            <option value="{{res['id']}}">{{res['zones']}}</option>
                        {% endfor %}
                    </select><br>
                    <div class="form-field">
                        <button class="btn waves-effect waves-green green darken-2" type="submit" name="Submit">filter
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            {% if mess %} 
            <span class="red-text">{{ mess }}</span>
            {% endif %}
            <h4>Zone Domain: <b class="green-text text-darken-2">{{name}}</b></h4>
            <div class="col s12 m12 l12 center">
            {{ pagination.info }}
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>type</th>
                            <th>Value</th>
                            <th>TTL</th>
                            <th>Active</th>
                            <th>Edit/Remove</th>
                        </tr>
                    </thead>
                    <tbody> 
                    {% for res in data %}
                        <tr>
                            <td>
                                {{ loop.index + pagination.skip }}
                            </td>
                            <td>
                                {{res['name']}}
                            </td>
                            <td>
                                {{res['typevalue']}}
                            </td>
                            <td>
                                {{res['value']}}
                            </td>
                            <td>
                                Automatic
                            </td>
                            <td>
                                True 
                                <!-- <div class="switch">
                                    <label>
                                    {% if res['active'] == True %}
                                        <input type="checkbox" checked="checked">
                                        <span class="lever"></span>
                                    {% else %}
                                        <input type="checkbox">
                                        <span class="lever"></span>
                                    {% endif %}
                                    </label>
                                </div>  -->
                            </td>
                            <td>
                                <form method='post'>
                                    <input type="hidden" value="{{res['host']}}" name="iddomain" required>
                                    <button class="btn white" type="submit" formmethod="post" formaction="/core/editdomain" name="update_button"  value="{{res['id']}}" >
                                        <i class="material-icons black-text">edit</i>
                                    </button>
                                    <button class="btn white" type="submit" formmethod="post" name="delete_button" onclick="return confirm('Are you sure to delete?')" formaction="/core/deletedomain" value="{{res['id']}}">
                                        <i class="material-icons black-text">delete</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <ul id="myPager">{{ pagination.links }}</ul>
            </div>
        </div>
    </main>
    
    <script type="text/javascript">
    $(document).ready( function () {
    $('#table_id').DataTable();
    } );
    </script>    
{% endblock content %}