{% extends 'base/base.html' %}
{% block title %} bastion edituser {% endblock title%}
{% block content %}
    <main class="container">
        <div class="row">
            <form method="POST" action="/updateuser">
                <h5>Modificar datos del usuario {{apiusers.username}}</h5><br>
                <input id="idf" type="hidden" value="{{apiusers.id}}" class="validate" name="idf" required>
                <div class="row">
                    <div class="input-field col s12 m4 l4">
                        <input placeholder="username" id="username" type="text" value="{{apiusers.username}}" class="validate" name="username" required>
                        <label for="username">Usuario</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Switch -->
                    <div class="switch">
                        <p>¿Deseas cambiar contraseña?</p>
                        <label for="chkPassport">
                        <input type="checkbox" id="chkPassport">
                        <span class="lever"></span>
                        si
                        </label>
                    </div>
                    <div id="AddPassport"><br>
                        Preciona el checkbox
                    </div>
                <div>
                <div class="row"><br>
                    <div class="input-field col s12 m5 l5" id="dvPassport" style="display: none">
                        <input placeholder="Contrasena" id="txtPassportNumber" type="password" class="validate" name="psswd-new">
                        <label for="Contraseña">Nueva Contraseña</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m5 l5">
                        <input placeholder="email" id="email_inline" type="email" value="{{apiusers.email}}" class="validate" name="email" required>
                        <label for="email_inline">Correo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m4 l4">
                        <input placeholder="area" id="area" type="text" class="validate" value="{{apiusers.area}}" name="area" required>
                        <label for="area">Area de trabajo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6 l3">
                        <select class="blue-text text-darken-2" name="group" required>
                            <option value="{{apiusers.group}}" selected>{{apiusers.group}}</option>
                            <option value="GroupTI">GroupTI</option>
                            <option value="GroupAPS">GroupAPS</option>
                            <option value="GroupDB">GroupDB</option>
                            <option value="GroupSIO">GroupSIO</option>
                            <option value="GroupID">GroupID</option>
                            <option value="GroupEXT">GroupEXT</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6 l3">
                        <select class="blue-text text-darken-2" name="status" required>
                            {% if apiusers.status == True %}
                                <option value="1" selected>activo</option>
                            {% else %}
                                <option value="0" selected>desactivo</option>
                            {% endif %}
                            <option value="1">activo</option>
                            <option value="0">desactivo</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6 l3">
                        <select class="blue-text text-darken-2" name="webaccess" required>
                            {% if apiusers.web == True %}
                                <option value="1" selected>activo</option>
                            {% else %}
                                <option value="0" selected>desactivo</option>
                            {% endif %}
                            <option value="1">activo</option>
                            <option value="0">desactivo</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-field">
                        <button class="btn waves-effect waves-green green darken-2" type="submit" name="conf">Modificar
                        </button>
                        <button class="btn red" type="submit" formmethod="get" formnovalidate="novalidate" formaction="/users" name="cancelar" >cancelar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% endblock content %}