{% extends 'base/base.html' %}
{% block title %} DNSWEBADMIN Edit {% endblock title%}
{% block content %}
    <main class="container">
       <div class="row">
            <form method="POST" action="/core/updatedomain"><br>
            <div class="row">
                <div class="input-field col s12 m6 l3">
                    <input placeholder="name" id="value" value="{{name}}" type="text" class="validate" name="namef" required>
                    <label for="name">Subdominio</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l3">
                    <input placeholder="Value" id="value" type="text" value="{{value}}" class="validate" name="valuef" required>
                    <label for="Value">Value</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l3">
                    <input type="hidden" value="{{id}}"  name="id" required>
                    <input type="hidden" value="{{ iddomain }}"  name="iddomain" required>
                    <input type="hidden" value="{{typef}}"  name="typevalue" required>
                </div>
            </div>
            <div class="row">
                <div class="form-field">
                    <button class="btn waves-effect waves-green green darken-2" type="submit" name="edit_button">Editar
                        <i class="material-icons left">edit</i>
                    </button>
                </div>
            </div>
            </form>
        </div>
    </main>    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% endblock content %}