{% extends 'base/base.html' %}
{% block title %} dnsweb {% endblock title%}
{% block content %}
    <main class="container">
        <h5>Administracion y registros de Zonas de dominios</h5><br>
         <div class="row">
            <form method="POST" action="/core/addhostedzone">
                <div class="input-field col s12 m6 l3">
                    <input placeholder="zone domain" id="value" type="text" class="validate" name="hostedZone" required>
                    <label for="zone">Nombre de la nueva Zona de Dominio</label>
                </div>
                <div class="input-field col s12 m6 l2">
                    <select class="blue-text text-darken-2" id="select" name="domain" required>
                            <option value="" disabled selected>Tipo de dominio</option>
                            <option value="com">com</option>
                            <option value="org">org</option>
                            <option value="com.mx">com.mx</option>
                            <option value="net">net</option>
                            <option value="mx">mx</option>
                            <option value="info">info</option>
                    </select>
                </div>
                <div class="form-field">
                    <button class="btn waves-effect waves-green green darken-2" type="submit" name="Submit">
                        Agregar
                    </button>
                </div>
            </form>
        </div>
        <div class="row">
        <h5>Zonas de Dominios</h5>
        <form action="/deletedomainzone" method="POST">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Zona de dominio</th>
                        <th>Tipo de dominio</th>
                        <th>Editar/Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for res in zone %}
                    <tr>
                        <td>{{res['value']}}</td>
                        <td>{{res['domain']}}</td>
                        <td>
                            <button class="btn white" type="submit"  formmethod="post" formaction="/editdomainzone" name="update_button"  value="{{res['id']}}" >
                                <i class="material-icons black-text">edit</i>
                            </button>
                            <button class="btn white" type="submit" name="id" onclick="return confirm('Are you sure to delete?')" value="{{res['id']}}">
                                <i class="material-icons black-text">delete</i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </form>
        </div>
    </main>    

{% endblock content %}