{% extends 'base/base.html' %}
{% block title %} DNSWEBADMIN {% endblock title%}
{% block content %}
    <main class="container">
        <h4>Domain register stadistic:</h4><br>
        <div class="row">
            <embed type="image/svg+xml" src='{{ graph|safe }}' />
        </div>
        <div class="row">
            <embed type="image/svg+xml" src='{{ pie|safe }}' style='max-width: 400px;' />
        </div>
    </main>    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% endblock content %}