{% extends 'base/base.html' %}
{% block title %} dnsweb {% endblock title%}
{% block content %}
    <main class="container">
        <div class="row">
            <h5>Estadistica de registros por cambios en los dominios:</h5>
            <embed type="image/svg+xml" src='{{ graph|safe }}' />
        </div>
        <div class="row">
            <h5>Mis dominios:</h5>
            <embed type="image/svg+xml" src='{{ pie|safe }}' style='max-width: 400px;' />
        </div>
    </main>    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% endblock content %}