{% extends 'base/baselogin.html' %}

{% block title %} Iniciar Sesión en la Plataforma {% endblock title %}

{% block content %}
<main style="background-color: #9e9e9e; height: 100vh; display: flex; align-items: center; justify-content: center;">
    <div class="col s6">
        <div class="card" style="width: 100%; background: rgba(255, 255, 255, 0.8); border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);">
            <div class="card-content center-align">
                <form action="/login" method="POST">
                    <br>
                    <div class="row">
                        <span class="card-title">
                            <img src="{{ url_for('static', filename='img/logofind.png' ) }}" alt="Icono" style="height: 30px; margin-right: 10px;">
                            ACCOUNT LOGIN
                        </span>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <i class="material-icons prefix">account_circle</i>
                            <input type="text" placeholder="Usuario" data-length="15" name="username" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <i class="material-icons prefix">settings_ethernet</i>
                            <input type="password" placeholder="Contraseña" data-length="25" name="password" id="password" required>
                            <p class="right">
                                <label>
                                    <input type="checkbox" id="showPassword" onclick="togglePasswordVisibility()">
                                    <span>Mostrar contraseña</span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            <button class="login-button" type="submit" name="action">
                                INGRESAR
                            </button>
                        </div>
                    </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="row">
                                <div class="col s12">
                                    <ul class="flashes">
                                    {% for message in messages %}
                                        <li class="red-text">{{ message }}.</li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                    <div class="row">
                        <div class="card-action">
                            <a href="https://console.aws.amazon.com">
                                <img src="{{ url_for('static', filename='img/awslogo.png' ) }}" alt="Icono" style="height: 30px; ">
                            </a>
                            <a href="https://github.com/lgeronimoM/bastionweb/tree/2.11">
                                <img src="{{ url_for('static', filename='img/github.png' ) }}" alt="Icono" style="height: 30px;">
                            </a>
                            <a href="https://encontrack.com">
                                <img src="{{ url_for('static', filename='img/logoencontrack.png' ) }}" alt="Icono" style="height: 30px;">
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}