{% extends 'base/baselogin.html' %}

{% block title %} Login {% endblock title%}

{% block content %}
<main class="grey maincont">
    <div class="row">
        <div class="col l6 m6 s12 offset-l3 mc5">
            <div class="col s12 m6 l6 white center-align cardbg" style="height: 300px;">
                    <img class="responsive-img" src="{{ url_for('static', filename='img/logo.png' ) }}" style="width: 230px; margin-top: 80px;">
            </div>
            <div class="col s12 m6 l6 white" style="height: 300px;">
                <form action="/login" method="POST">
                    <div class="row">
                        <h6 class="center">Autentificate para acceder</h6>
                        <div class="input-field col s10 l10 m10" style="margin-top: 15px">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" placeholder="Usuario" type="text" data-length="15" name="username" required>
                        </div>
                        <div class="input-field col s10 l10 m10">
                            <i class="material-icons prefix">settings_ethernet</i>
                            <input id="icon_prefix" placeholder="Contraseña" type="password" data-length="25" name="password" required>
                        </div>
                    </div>
                    <div class="form-field center-align">
                        <button class="btn waves-effect waves-light green darken-2" type="submit" name="action">INGRESAR
                        <i class="material-icons left">send</i>
                        </button> 
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class=flashes>
                                {% for message in messages %}
                                    <li class="center red-text">Error: {{ message }}.</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                </form>
            </div>  
        </div>
    </div>
</main>
{% endblock content %}