{% extends 'base/base.html' %}
{% block title %} dnsweb Config {% endblock title%}
{% block content %}
    <main class="container">
       <div class="row">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Configurar el servidor maestro y esclavo</span>
                    <form method="POST" action="/core/installdns">
                        {% if exist==False %}<br>
                        <p>Cometer instalará y configurará los servidores maestro y esclavos que agregaste</p><br>
                        <div class="form-field">
                            <button class="btn waves-effect waves-green indigo darken-1" id="sendNewSms" type="submit" name="crearFile">cometer
                            </button>
                        </div>
                        {% endif %}
                    </form><br>
                     <p class="red-text">{{ statusmaster }}</p>
                    <form method="POST" action="/core/deletemaster">
                    {% if exist==False %}
                        <span class="green-text">Servidor maestro: <b>{{master['ipmaster']}}</b></span>
                        <button class="btn white" type="submit" name="delete_button" onclick="return confirm('Are you sure to delete?')" formaction="/core/deletemaster" value="{{master['id']}}">
                            <i class="material-icons black-text">delete</i>
                        </button>
                    {% endif %}
                    </form>
                    <form method="POST" action="/core/addmaster"><br>
                    <div class="row">
                        {% if exist %}
                        <p>Solo puedes registrar un servidor maestro</p><br>
                        <div class="input-field col s12 m6 l3">
                            <input placeholder="ip add master" id="master" type="text" value="" class="validate" name="master" required >
                            <label for="master">IP del servidor maestro</label>
                        </div>
                        <div class="input-field col s12 m6 l3">
                            <input placeholder="User" id="user" type="text" value="" class="validate" name="user" required>
                            <label for="user">Usuario sudo</label>
                        </div>
                        <div class="input-field col s12 m6 l3">
                            <input placeholder="Password" id="password" type="password" value="" class="validate" name="password" required >
                            <label for="password">Contraseña</label>
                        </div>
                        <div class="form-field">
                            <button class="btn waves-effect waves-green green darken-2 {{valid}}" formaction="/core/addmaster" type="submit" name="submit" >Agregar
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    </form>
                {% if exist==False %}
                    <p class="red-text">{{ statuslave }}</p>
                    <form method="POST">
                    {% for slaves in ipslaves %}
                        <span class="green-text">Servidor esclavo: <b>{{slaves['ipslave']}}</b></span>
                        <button class="btn white" type="submit" name="delete_button" onclick="return confirm('Are you sure to delete?')" formaction="/core/deleteslave" value="{{slaves['id']}}">
                            <i class="material-icons black-text">delete</i>
                        </button><br>
                    {% endfor %}
                    </form>
                    <form method="POST" action="/core/addslave"><br>
                    <div class="row">
                        <p>Puedes registrar varios servidores esclavos o solo uno o ninguno</p><br>
                        <div class="input-field col s12 m6 l3">
                            <input placeholder="ip add slave" id="slave" type="text" value="" class="validate" name="slave" required>
                            <label for="slave">IP servidor esclavo</label>
                        </div>
                        <div class="input-field col s12 m6 l3">
                            <input placeholder="User" id="user" type="text" value="" class="validate" name="user" required>
                            <label for="user">Usuario sudo</label>
                        </div>
                        <div class="input-field col s12 m6 l3">
                            <input placeholder="Password" id="password" type="password" value="" class="validate" name="password" required>
                            <label for="password">Contraseña</label>
                        </div>
                        <div class="form-field">
                            <button class="btn waves-effect waves-green green darken-2" type="submit" name="submit">Agregar
                            </button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        {% endif %}
        </div>
    </main>    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% endblock content %}