{% extends 'base/base.html' %}
{% block title %} DNSWEBADMIN Config {% endblock title%}
{% block content %}
    <main class="container">
       <div class="row">
            <div class="card">
                <div class="card-content">
                <span class="card-title">Before to click on commit you must have one zone and a server master <a href="/masterslaves">here</a>.</span>
                {% if exist==False %}
                    <form method="POST" action="/core/allowquery">
                        <p>Allow-query defines an match list of IP address(es) which are allowed to issue queries to the server. 
                           If not specified all hosts are allowed to make queries (defaults to allow-query {any;};).</p><br>
                        <div class="form-field">
                            <button class="btn waves-effect waves-green indigo darken-1" id="sendNewSms" type="submit" name="crearFile">commit
                            </button>
                        </div>
                    </form><br>
                    <form method="POST">
                    <P>Allow-query added:</p>
                    {% for acl in acls %}
                        <span class="green-text"><b>{{acl['ipacl']}}</b></span>
                        <button class="btn white" type="submit" name="delete_button" onclick="return confirm('Are you sure to delete?')" formaction="/core/deleteacl" value="{{acl['id']}}">
                            <i class="material-icons black-text">delete</i>
                        </button>
                    {% endfor %}
                    </form>
                    <form method="POST" action="/core/addacl"><br>
                    <div class="row">
                        <p class="red-text">{{ statusacl }}</p>
                        <p>You can add IP client allow-queries.</p>
                        <div class="input-field col s12 m6 l3">
                            <input placeholder="IPs allow-queries" id="acl" type="text" value="" class="validate" name="acl" required>
                            <label for="acl">acls</label>
                        </div>
                        <div class="form-field">
                            <button class="btn waves-effect waves-green green darken-2" type="submit" name="submit">add
                            </button>
                        </div>
                    </div>
                    </form>
                {% endif %}
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                {% if exist==False %}
                    <form method="POST" action="/core/forwadcommit">
                        <p>Configuration "forward".</p>
                        <p>Forwards all requests to an outside resolving server and then caches the results to use for later queries.</p><br>
                        <div class="form-field">
                            <button class="btn waves-effect waves-green indigo darken-1" id="sendNewSms" type="submit" name="crearFile">commit
                            </button>
                        </div>
                    </form><br>
                    <form method="POST">
                    <P>Forwards added:</p>
                    {% for forward in forwards %}
                        <span class="green-text"><b>{{forward['ipforward']}}</b></span>
                        <button class="btn white" type="submit" name="delete_button" onclick="return confirm('Are you sure to delete?')" formaction="/core/deleteforward" value="{{forward['id']}}">
                            <i class="material-icons black-text">delete</i>
                        </button>
                    {% endfor %}
                    </form>
                    <form method="POST" action="/core/addforward"><br>
                    <div class="row">
                        <p class="red-text">{{ statusforward }}</p>
                        <p>You can add a new "forward".</p>
                        <div class="input-field col s12 m6 l3">
                            <input placeholder="Exemple 8.8.8.8 dns-google" id="forward" type="text" class="validate" name="forward" required>
                            <label for="acl">forward</label>
                        </div>
                        <div class="form-field">
                            <button class="btn waves-effect waves-green green darken-2" type="submit" name="submit">add
                            </button>
                        </div>
                    </div>
                    </form>
                {% endif %}
                </div>
            </div>
        </div>
    </main>    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% endblock content %}