{% extends 'base/base.html' %}
{% block title %} bastion users {% endblock title%}
{% block content %}
    <main class="container">
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class=flashes>
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <li class="red-text">{{ message }}</li>
                        {% else %}
                            <li class="green-text">{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <div class="col s12 m4 l4">
                <form method="GET" action="/users">
                    <div class="input-field col s12 m12 l12">
                        <input placeholder="Usuario" id="" type="search" class="validate" name="finduser" required>
                        <label for="Usuario">Buscar usuario</label>
                    </div>
                    <div class="card-action">
                        <div class="form-field">
                            <button class="btn find-button" type="submit" name="Submit">
                                Buscar <i class="material-icons white-text">find_in_page</i>
                            </button>
                        </div>
                    </div>
                </form>
                {% if removefilter %}
                    <a href="/users" class="btn del-button">Remover filtro</a>
                {% endif %}
            </div>
            <div class="col s12 m4 l4">
                    <div>
                        <h5 class="center"><i class="medium material-icons white-black">verified_user</i></h5>
                    </div>
                    <div>
                        <h5 class="center"><b>Administrador de usuarios</b></h5>
                    </div>
            </div> 
            <div class="col s12 m4 l4">
                <div class="card lighten-3"><br>
                    <p class="center">Realizar nuevo registro de usuario</p>
                    <div class="card-action">
                    <form method="POST" action="/adduser">
                        <p class="red-text">{{statususer}}</p>
                        <div class="form-field center">
                            <button class="btn add-button" type="submit" name="Submit">
                                Crear +
                            </button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="">
                <div class="card-content">
                    <div class="row">
                    <table>
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Correo</th>
                                <th>Area</th>
                                <th>Grupo</th>
                                <th>bastion</th>
                                <th>Web</th>
                                <th>Editar</th>
                                <th>Borrar</th>
                                <th>copiar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in data.items %}
                            <tr>
                                <td>
                                    {{user['username']}}
                                </td>
                                <td>
                                    {{user['email']}}
                                </td>
                                <td>
                                    {{user['area']}}
                                </td>
                                <td>
                                    {{user['group']}}
                                </td>
                                <form method="POST" action="/updateuser">
                                <td>
                                    {% if user['status'] == True %}
                                        <i class="material-icons green-text">check_circle</i>
                                    {% else %}
                                        <i class="material-icons grey-text">do_not_disturb_on</i>
                                    {% endif %} 
                                </td>
                                <td>
                                    {% if user['web'] == True %}
                                        <i class="material-icons green-text">check_circle</i>
                                    {% else %}
                                        <i class="material-icons grey-text">do_not_disturb_on</i>
                                    {% endif %}
                                </td>
                                <td>
                                    <button class="waves-effect waves-light btn grey" type="submit" formmethod="post" formaction="/edituser" name="conf"  value="{{user['id']}}">
                                        <i class="material-icons black-text">edit</i>
                                    </button>
                                </td>
                                </form>
                                <td>
                                    <form method="POST" action="/deleteuser"><br>
                                        <button class="waves-effect waves-light btn grey" type="submit" name="id" onclick="return confirm('Are you sure to delete?')" value="{{user['id']}}">
                                            <i class="material-icons black-text">delete</i>
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form method="POST" action="/copyaccess"><br>
                                        <button class="btn find-button" type="submit" name="id" value="{{user['id']}}">
                                            <i class="material-icons">content_copy</i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                        <div class="center">
                            <ul class="pagination">

                            {% if data.has_prev %}
                                <li class="waves-effect"><a class="page-link" href="{{ url_for('users', page_num=data.prev_num) }}"><i class="material-icons">chevron_left</i></a></li>
                            {% else %}
                                <li class="disabled"><span><i class="material-icons">chevron_left</i></span>
                            {% endif %}
                                </li>

                            {% for page in data.iter_pages(left_edge=3, right_edge=3) %}
                            {% if page %}
                            <li class="waves-effect"><a href="{{ url_for('users', page_num=page) }}">{{ page }}</a></li>
                            {% else %}
                            <li class="disabled"><a href="#">…</a></li> 
                            {% endif %}
                            {% endfor %}

                            {% if data.has_next %}
                                <li class="waves-effect"><a href="{{ url_for('users', page_num=data.next_num) }}"><i class="material-icons">chevron_right</i></a></li>
                            {% else %}
                                <li class="disabled"><span><i class="material-icons">chevron_right</i></span>
                            {% endif %}
                                    
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock content %}